In [4]:
import numpy as np
import pandas as pd

In [9]:
driniks=pd.read_csv('../data/drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### 那个continent的平均啤酒消费最多?

### 描述每个continent的白酒消费情况，均值，方差，分位数等等

### 每个continent的各种酒精饮料的平均消费

### 每个continent的各种酒精饮料的消费median值

### 同时输出每个continent的烈酒(spirit)消费最大，最小以及均值