In [3]:
import numpy as np
import pandas as pd
import scipy.stats as stats
pd.set_option("display.max_rows",10)   
pd.set_option("display.max_columns",10)

In [10]:
data= pd.read_table('../data/reguser.txt')
data.head()

    type   day   reg  stay
0  weibo  day1  2504   752
1  weibo  day2  2718   701
2  weibo  day3  2538   692
3  weibo  day4  2207   540
4  weibo  day5  2004   464

In [6]:
data.tail()

     type   day   reg  stay  lost
16  webad  day3  1908   542  1366
17  webad  day4  1643   422  1221
18  webad  day5  1454   372  1082
19  webad  day6  1382   370  1012
20  webad  day7   883   208   675

In [11]:
data['lost']=data['reg']-data['stay']
data.head()

    type   day   reg  stay  lost
0  weibo  day1  2504   752  1752
1  weibo  day2  2718   701  2017
2  weibo  day3  2538   692  1846
3  weibo  day4  2207   540  1667
4  weibo  day5  2004   464  1540

In [12]:
group=pd.groupby(data,by='type')

In [13]:
observed=group.agg(np.sum)
observed

           reg  stay   lost
type
webad    11570  3173   8397
weibo    15113  3901  11212
weichat  18244  4899  13345

In [14]:
#流失和留存人数是否相互独
stats.chi2_contingency(observed= observed[['stay','lost']]) #用户的类别的确影响了用户的次日留存情况，并不是相互独立的

(9.3590952863227841,
 0.0092832122619622998,
 2,
 array([[  3083.39328244,   8486.60671756],
        [  4027.59919425,  11085.40080575],
        [  4862.00752332,  13381.99247668]]))

In [15]:
observed['stay']/observed['reg']

type
webad      0.274244
weibo      0.258122
weichat    0.268527
dtype: float64