# 用python作为计算器

```
+,-,*,/,**
```

In [1]:
print(3+12)

15

In [2]:
print(3*12-5)

31

In [3]:
print(12/3)

4.0

In [7]:
print(11**2)

121

```
==
!=
<
>
<=
>=
```

In [8]:
2<3

True

In [9]:
2==2

True

In [10]:
3>9

False

In [11]:
False<True

True

# strings

In [12]:
"Let's learn python"

"Let's learn python"

In [14]:
print("Let's "+"Learn "+"Python!")

Let's Learn Python!

In [15]:
print("haha"*2)

hahahaha

# variables

In [16]:
print(21+21)
my_answer=42

42

In [17]:
my_answer

42

In [20]:
my_answer=43

In [21]:
my_answer

43

In [27]:
name="python"

In [28]:
name

'python'

In [29]:
name[1]

'y'

In [22]:
name=2

In [23]:
name

2

# data types

In [31]:
type(2)

int

In [32]:
type("python")

str

In [33]:
type(2.2)

float

# list

In [35]:
Beatles = ["John", "Paul", "George", "Ringo"]
grades = [82, 93, 67, 99, 100]

In [36]:
type(Beatles)

list

In [37]:
type(grades)

list

In [38]:
Beatles[0]

'John'

# Booleans

In [39]:
1==1

True

In [40]:
1>10

False

In [41]:
my_name="python"

In [43]:
my_name=="python"

True

In [44]:
type(True)

bool

In [45]:
3>1 and 2==2

True

```
and
or
not
```

In [46]:
True or False

True

In [47]:
not True

False

In [48]:
not True and True

False

In [49]:
not True or True

True

# logic

In [50]:
password="python"
if password == "python":
    print("correct!")

correct!

In [53]:
password="pandas"
if password == "python":
    print("correct!")
else:
    print("wrong!")

wrong!

In [55]:
password="pandas"
if password == "python":
    print("correct!")
elif password=="pandas":
    print("you got it!")
else:
    print("wrong!")

you got it!

# loop

In [60]:
for mynum in [1,2,3,4,5]:
    print("your numer=",mynum)

your numer= 1
your numer= 2
your numer= 3
your numer= 4
your numer= 5

In [61]:
count=0
while(count<5):
    print("count=",count)
    count=count+1

count= 0
count= 1
count= 2
count= 3
count= 4

# 总结

+ 变量类型int,float,string
+ 变量
+ 缩进
+ list
+ if
+ 循环

# list进阶

In [71]:
integer_list = [1, 2, 3]
heterogeneous_list = ["string", 0.1, True]
list_of_lists = [ integer_list, heterogeneous_list, [] ]

list_length = len(integer_list)     # equals 3
list_sum    = sum(integer_list)     # equals 6

In [76]:
list_sum

6

In [49]:
x = list(range(10))   # is the list [0, 1, ..., 9]
zero = x[0]     # equals 0, lists are 0-indexed
one = x[1]      # equals 1
nine = x[-1]    # equals 9, 'Pythonic' for last element
eight = x[-2]   # equals 8, 'Pythonic' for next-to-last element
x[0] = -1       # now x is [-1, 1, 2, 3, ..., 9]

In [50]:
first_three   = x[:3]               # [-1, 1, 2]
three_to_end = x[3:]                # [3, 4, ..., 9]
one_to_four = x[1:5]                # [1, 2, 3, 4]
last_three = x[-3:]                 # [7, 8, 9]
without_first_and_last = x[1:-1]    # [1, 2, ..., 8]

In [77]:
1 in [1, 2, 3]    # True
0 in [1, 2, 3]    # False

False

# tuple

In [79]:
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3      # my_list is now [1, 3]

try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

# dict

In [80]:
empty_dict = {}                         # Pythonic
empty_dict2 = dict()                    # less Pythonic
grades = { "Joel" : 80, "Tim" : 95 }    # dictionary literal

In [82]:
joels_grade = grades["Joel"]  
joels_grade

80

In [83]:
try:
    kates_grade = grades["Kate"]
except KeyError:
    print("no grade for Kate!")

no grade for Kate!

In [84]:
joel_has_grade = "Joel" in grades     # True
kate_has_grade = "Kate" in grades     # False
joel_has_grade,kate_has_grade

(True, False)

In [85]:
joels_grade = grades.get("Joel", 0)   # equals 80
kates_grade = grades.get("Kate", 0)   # equals 0
no_ones_grade = grades.get("No One")  # default default is None
joels_grade,kates_grade,no_ones_grade

(80, 0, None)

In [86]:
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [87]:
tweet_keys   = tweet.keys()     # list of keys
tweet_values = tweet.values()   # list of values
tweet_items  = tweet.items()    # list of (key, value) tuples

"user" in tweet_keys            # True, but uses a slow list in
"user" in tweet                 # more Pythonic, uses faster dict in
"joelgrus" in tweet_values      # True

True

In [90]:
tweet_items

dict_items([('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo']), ('retweet_count', 100), ('text', 'Data Science is Awesome'), ('user', 'joelgrus')])

# list comprehensions

In [91]:
x=list(range(5))

In [92]:
even_numbers = [x for x in range(5) if x % 2 == 0]  # [0, 2, 4]
squares      = [x * x for x in range(5)]            # [0, 1, 4, 9, 16]
even_squares = [x * x for x in even_numbers]        # [0, 4, 16]

In [93]:
even_numbers

[0, 2, 4]

In [94]:
squares

[0, 1, 4, 9, 16]

In [95]:
even_squares

[0, 4, 16]

In [96]:
square_dict = { x : x * x for x in range(5) }  # { 0:0, 1:1, 2:4, 3:9, 4:16 }
square_set  = { x * x for x in [1, -1] }       # { 1 }

In [98]:
square_set

{1}

In [99]:
increasing_pairs = [(x, y)                       # only pairs with x < y,
                    for x in range(10)           # range(lo, hi) equals
                    for y in range(x + 1, 10)]   # [lo, lo + 1, ..., hi - 1]

In [100]:
increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

# 程序文件

+ 保存为程序为.py
+ linux系统下面 `#!/user/bin.env python`
+ 注释 #

# function

函数

http://www.xiachufang.com/recipe/78140/

make_mpdf(tofu,pepper,water,oil)

函数名： *make_mpdf*  
参数：*tofu,pepper,water,oil*

In [101]:
def make_mpdf(tofu,pepper,water,oil):
    print("Your Mapo Doufu is ready!")

In [102]:
make_mpdf(500,5,50,20)

Your Mapo Doufu is ready!

+ 函数用def定义
+ 使用()调用
+ 函数有参数和返回值
+ return 定义返回值

In [103]:
def make_mpdf(tofu,pepper,water,oil):
    print("Your Mapo Doufu is ready!")
    return 10

In [104]:
price=make_mpdf(500,5,50,20)
print(price)

Your Mapo Doufu is ready!
10

In [105]:
#缺省参数只能在后面
def make_mpdf(tofu,pepper,water,oil=20):
    print("Your Mapo Doufu is ready!")
    print("oil=",oil)
    return 10

In [107]:
price=make_mpdf(500,5,50,30)
print(price)

Your Mapo Doufu is ready!
oil= 30
10

In [54]:
def sum_and_product(x, y):
    return (x + y),(x * y)

sp = sum_and_product(2, 3)    # equals (5, 6)
s, p = sum_and_product(5, 10) # s is 15, p is 50
s,p

(15, 50)

In [108]:
def make_mpdf(*args,**kwargs):
    for arg in args:
        print(arg)
    for key,value in kwargs.items():
        print(key,value)
    
    return 10

make_mpdf(500,5,water=50,oil=20)

500
5
oil 20
water 50

10

# class

In [8]:
class User(object):
    pass

In [9]:
class User(object):
    name=None
    is_staff=False

In [10]:
class User(object):
    is_staff=False
    def __init__(self,name='Anoymous'):
        self.name=name
        super(User,self).__init__()
    def is_authorized(self):
        return self.is_staff

In [109]:
anonymous=User()
print(anonymous.name)
print(anonymous.is_authorized())

Anoymous
False

In [110]:
class SuperUser(User):
    is_staff=True

In [111]:
admin=SuperUser("Mike")
print(admin.name)
print(admin.is_authorized())

Mike
True

# imports

+ 代码分离(isolation)
+ 代码重用
+ 利用namespace

In [15]:
import pandas as pd

In [16]:
data=pd.read_csv('../data/airport-ontime.csv')
data.head(5)

,FL_DATE,UNIQUE_CARRIER,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_STATE_ABR,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST_STATE_ABR,DEP_DELAY_NEW,DEP_DEL15,ARR_DELAY_NEW,ARR_DEL15,DISTANCE,DISTANCE_GROUP,Unnamed: 16
0,2014-06-01,AA,12478,1247802,31703,NY,12892,1289203,32575,CA,0.0,0.0,0.0,0.0,2475.0,10,NaN
1,2014-06-01,AA,12892,1289203,32575,CA,12478,1247802,31703,NY,0.0,0.0,0.0,0.0,2475.0,10,NaN
2,2014-06-01,AA,12478,1247802,31703,NY,12892,1289203,32575,CA,0.0,0.0,0.0,0.0,2475.0,10,NaN
3,2014-06-01,AA,12892,1289203,32575,CA,12478,1247802,31703,NY,163.0,1.0,160.0,1.0,2475.0,10,NaN
4,2014-06-01,AA,11298,1129803,30194,TX,12173,1217302,32134,HI,0.0,0.0,0.0,0.0,3784.0,11,NaN

In [17]:
from pandas import DataFrame as df

# 异常处理

In [112]:
try:
    print(0 / 0)
except ZeroDivisionError:
    print("cannot divide by zero")

cannot divide by zero

# docstring

In [113]:
def foo():
    """Python supports documentation for all modules,classes,functions,methods"""
    pass

In [41]:
help(foo)

Help on function foo in module __main__:

foo()
    Python supports documentation for all modules,classes,functions,methods

In [114]:
foo.__doc__

'Python supports documentation for all modules,classes,functions,methods'

# resource

[Google Python Course](https://developers.google.com/edu/python/set-up)

访问google我买的是云梯vpn，如果想购买vpn 点击链接 http://joinyt.com/?r=02fa146a84353c4b 你和我都可以节约10元 。当然网上你也可以搜其它付费 vpn，应该有很多选择。